<div class="line-numbers">
  <% for i in 1..1000 do %>
    <span id="line<%= i %>" class="line-number">&nbsp;</span>
  <% end %>
</div>

<%= content_for :stylesheets, stylesheet_link_tag('projector') %>
<%= content_for :javascripts do %>
<script type="text/javascript">
  $(document).ready(function(){
    setInterval(function(){
      $.ajax({
        url:'/projectors/<%= @projector.id %>/trigger.js',
//        url:<%#= url_for(:controller => 'projectors', :action => 'trigger', :format => 'js') %> ,
        type: "GET",
        dataType: "script"
      });
    }, <%= @projector.interval * 1000 %> );
  });
  $('html, body').animate({
    scrollTop: $("#line<%= @projector.position %> ").offset().top
  }, 500);
</script>
<% end %>
<%= content_for :stylesheets do %>
  <style type="text/css">
    div, p, span, h1, h2, h3, h4, h5, h6 {
      font-size: <%= @projector.zoom * 10 %>%;
      line-height: <%= @projector.zoom * 10 %>%;
    }
  </style>
<% end %>
<%= render '/refinery/content_page' %>
